binomial.sce
binomialgrand.sce
binomialrand.sce
calculaProbabilidadesBinomiales.sce
generaAleatorios.sce
generador_binomialcdf_grand.sce
generador.sce
lanzamientoDeUnDado.sce
MM18057_AL1_Gpo01.docx
~$18057_AL1_Gpo01.docx